fastapi==0.111.1
uvicorn==0.30.1
python-dotenv==1.0.1
openai==1.35.13
tiktoken==0.7.0
unstructured==0.14.9
markdown==3.6
numpy==1.26.4
scikit-learn==1.5.1
sentence-transformers==3.0.1
torch==2.3.1
pytest==8.3.2
pytest-mock==3.14.0
httpx==0.27.0